body{
    font-family: sans-serif;
    background-color:#d7f4e3;
    display:grid;
    grid-template-columns:15px auto 60% 15px auto 15px 15px;
    grid-template-rows:30px 30px 15px auto 15px auto 15px auto;
}
.infoPanel{
    background-color:#5fd38d;
    padding-top: 2em;
    grid-row-start:3;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end:6;
}
.infoPanelProductImage{
    grid-row-start:4;
    grid-row-end:4;
    grid-column-start:2;
    grid-column-end:2;
}

.infoPanelProductName{
    font-size: 32px;
    font-weight:bold;
    grid-column-start:3;
    grid-column-end:3;
}

.infoPanelProductDescription{
    font-size: 24px;
    
}

.infoPanelProductPrice{
    font-size:32px;
}

.infoPanelCompareButton{
    font-size:20px;
}

.ratingsBlock{
    background-color:#d7f4e3;
    grid-row-start:5;
    grid-row-end:5;
    grid-column-start:2;
    grid-column-end:2;
}

.ratingsBlockHeader{
    font-size:24px;
}

.ratingsBlockTotals{
    font-size:18px;
}

.reviewBlock{
    border-color:black;
    border:1px solid;

    top: calc(50%);
    /*vertical-align:top;*/
}
.reviewHeaderText{
    font-size: 32px;
}
.reviewBodyText{
    font-size: 20px;
}
.reviewRatingText{
    font-size: 24px;
}
.reviewRow0{
    color: #d7f4e3;
    background-color:#217844;
}
.reviewRow1{
    background-color:#d7f4e3;
}
.reviewRow2{
    background-color:#5fd38d;
}

.logoLabel{
    color: #d7f4e3;
    font-weight: bold;
    font-size: 32px;
    background-color:#217844;
    width:4em;
    border-color:black;
    border:1px solid;
    /*padding-top: 1.5em;
    padding-bottom: 1.5em;*/
    padding-left: 2em;
    padding-right: 2em;
    text-align:center;
    grid-row-start:1;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:1;
    /*object-position: top;*/
    vertical-align:center;
}

.compareLabel{
    color: #d7f4e3;
    font-weight: bold;
    font-size: 20px;
    background-color:#217844;
    border-color:black;
    border:1px solid;

    padding-left: 1em;
    padding-right: 1em;
    text-align:center;
    grid-row-start:1;
    grid-row-end:1;
    grid-column-start:5;
    grid-column-end:5;
    /*object-position:right;*/
}

.reviews{
    grid-row-start:5;
    grid-row-end:5;
    grid-column-start:3;
    grid-column-end:6;
}

#logo, #compareLabel{
    /*display:inline-block;*/
}